body {
    font-family: sans-serif, Arial, Tahoma;
    margin: 0;
    background-color: #FFB347;
    color: #000;
    font-size: 12px;
}

body a {
    text-decoration: none;
}



body h2 {
    font-size: 2rem;
}

main p, nav a {
    font-size: 1.2rem;
}

/* HEADER */
header {
    background-color: #001F3F;
    color: #fff;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: center;
}

nav {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    font-weight: bold;
}

/* FOOTER */
footer {
    background-color: #001F3F;
    color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

/* MAIN */
main {
    padding: 100px 20px 60px;
}

/* INTRO */
.module-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 80%;
}

/* CONTENT */
.module-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 10px auto;
}

.content-item {
    margin: 20px 0;
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
}

/* QUIZ BUTTON */
#start-quiz-button {
    display: block;
    background-color: #001F3F;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 20px auto;
}

/* ANIMATION */
.module-intro > *,
.module-content .content-item,
#start-quiz-button {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;

}

.module-content .content-item.visible,
.module-intro > *.visible,
#start-quiz-button.visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}




/* RESPONSIVE */
@media (max-width: 500px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        position: static;
        margin-top: 10px;
    }
}
